@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 6%;
  --foreground: 0 0% 100%;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #101012;
}

::-webkit-scrollbar-thumb {
  background: #1f1f23;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2a2a2e;
}
